@import url("https://font.googleapis.com/css2?family=Neucha&display=swap");

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dde5f4;  /* #c3d6e9 */
    font-family: "Lato", sans-serif;
}


@media (max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}