@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;}

/* HEADER */

.header {
  background-color: rgb(58, 89, 148); /* #415890;*/
  color: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 100px;
}

.header__content {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  bottom: 0;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.header__logo {
  display: flex;
  height: 60px;
  justify-content: space-between;
  gap: 1px;
  align-items: center;
}

.header__logo:link,
.header__logo:active,
.header__logo:visited {
  border: 0;
  color: white;
}

.header__logo:hover,
.header__logo:focus {
  background-color: transparent;
  color: #ffcf00;
}

.header__logo:hover .header__logo-svg-path-a,
.header__logo:hover .header__logo-svg-path-c,
.header__logo:focus .header__logo-svg-path-a,
.header__logo:focus .header__logo-svg-path-c {
  fill: #ffcf00;
}

.header__logo-svg {
  height: 82px;
  position: relative;
  width: 65px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  margin-top: 1.5rem;
}

@media all and (max-width: 639px) {
  .header__logo-svg {
    -webkit-transform: scale(0.57);
    transform: scale(0.57);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}

.header__logo-svg-path-a {
  fill: #ffcf00;
}

.header__logo-svg-path-c {
  fill: #646c7c;
}

.header_title {
  font-size: 2rem;
}

.header_p {
  font-size: 12px;
}

.header__left {
  width: rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger{
  width: 1rem;
  height: 0.18rem;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger-false{
  display: none;
}

.burger-visible{
display: block;
position: fixed;
z-index: 2;
margin-top: 6rem;
left: 2rem;
color: #000;
background-color: #edeff1;
width: 123px;
height: 95px;
border-radius: 10px;
/*box-shadow: 0 0 2em hsl(231deg 62% 94%); */
box-shadow: 1px 1px 2rem hsl(231deg 62% 94%);
  -webkit-box-shadow: 1px 1px 2px hsl(231deg 62% 94%);
  -moz-box-shadow: 12px 10px 4px hsl(231deg 62% 94%);
}

.burger-visible p {
  margin-left: 1rem;
}

.burger-visisble-p:hover{
  color: #ffcf00;
}

/* STI */
.sti-viser{
  position: fixed;
  margin-top: 7rem;
  left: 4rem;
  font-size: 12px;
  font-style: italic;
}



/* LOGIN */
.login_main{
  position: relative;
  justify-content: center;
  top: 8rem;
  border-radius: 8px;
  background-color: #eaf2fb ; /*#e7f1f9  #dde6ee; */
  user-select: none;
  height: 40vh;
  width: 40vh;
  z-index: 1;
}

.login_main p {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  font-size: 30px;
  color: #000;  /*#5c6fa8  #306fc7; /* #003865;*/
  font-weight: 600;
  text-align: left;
  padding-left: 2.3rem;
  font-weight: 400;
}

/* Dette er hele den input formen som inneholder alt. */
.input {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

.login_input_brukernavn,
.login_input_passord {
  background-color: hsl(0deg 0% 100%);
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 10px;
  color: #000; /* #5c6fa8 #306fc7; #415890;  hsl(0deg 0% 0%);*/
  font-weight: 500;
  margin-top: -3em;
  width: 80%;
  margin-left: auto;
}

.login_input_brukernavn {
    margin-bottom: 4rem;
}

.login_input_passord {
    margin-bottom: 2rem;
}

input[type=text],
input[type=password] {
  outline: none;
  border: none;
  color:  hsl(0deg 0% 30%);
  font-size: 0.9em;
}

.login_button{
  padding: 1rem;
  background: #46588c; /* #003865;*/
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  width: 70%;
  margin-left: 2rem;
}

.login_button:hover{
  background: #ffcf00;
  transition: 0.5s;
}


/* SELECT BANK PAGE   */

.bank {
  position: relative;
  justify-content: center;
  top: 20%;
  border-radius: 10px;
  background-color: #eef5fb;
  height: 250px;
  width: 80%;
}

.bank_content {
  margin-left: 2rem;
  text-align: center;
}

.bank_content h4 {
  color: #000; /*#003865;*/
  text-align: left;
  font-weight: 400;
}

.bank_selector{
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.bank_button {
  padding: 1em;
  background: #003865;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  width: 150px;
  margin-left: 0.4em;
  margin-top: 1em;
}

.bank_button:hover {
  background: #ffcf00;
  transition: 0.5s;
}


 /* MAIN PAGE  */

.main {
  position: relative;
  justify-content: center;
  top: 15%;
  border-radius: 10px;
  background-color: white;
  height: 75%;
  width: 80%;
}

.main_content {
  margin-left: 2rem;
  color: #000;
}

.main_content h1{
  font-weight: 400;
}

.main_content p {
  color: #000; /*black*/
  
}


/* EDIT */

.edit {
  position: relative;
  justify-content: center;
  top: 15%;
  height: 75%;
  width: 80%;
  color: #003865;
}

.edit h1 {
  font-weight: 400;
}

.edit_p_error {
  color: red;
}

.edit_person {
  font-size: 70%;
}

.edit_person p {
  margin: 0;
}

.what_when {
  font-size: 90%;
}

.melding {
  display: flex;
  flex-direction: column;
}

.add_melding {
  font-size: 1.2rem;
}

.melding_tekst {
  width: 60%;
  height: 100px;
}

.melding_fil {
  width: 40%;
  height: 70px;
}

.melding button {
  width: 30%;
}